/* Global  */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #242424;
  color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  width: 350px;
  padding: 10px;
  font-size: 22px;
  font-weight: 100;
  color: whitesmoke;
}

button,
input {
  border: none;
  border-radius: 2px;
  margin: 10px;
  transition: all 0.4s linear;
}

button,
button:active,
button:focus {
  outline: 4px solid rgb(223, 223, 223);
}

input {
  width: 42px;
  height: 42px;
}
