.container {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}
.container h1 { font-size: 50px; }

.container h3 span {
  font-size: 35px;
}

.btn-incr {
  padding: 10px;
  border-radius: 5px;
  margin: 20px;
}